:root {
    font-size: 8px;
}

body {
    margin: 0%;
}

button {
    all: unset;
}

nav li > a {
    color: unset;
    cursor: pointer;
    text-decoration: none;
    height: 3rem;
    transition: all 0.5s cubic-bezier(.58,.07,.54,.74) 0s;
}

nav li > a:hover {
    background-color: #888888;
    height: 4rem;
    font-size: 3rem;
}

header {
    display: flex;
    flex-flow: row nowrap;
    height: 7rem;
    justify-content: space-between;
}

header > button {
    flex: 0 0 7rem;
}

header > button:hover {
    background-color: #bbbbbb;
}

header > button:active {
    background-color: #888888;
}

header > * {
    text-align: center;
    font-size: 6rem;
}

#header-logo {
    display: grid;
    align-items: center;
}

nav {
    position: fixed;
    top: 7rem;
    width: 33vw;
    height: calc(100vh - 7rem);
    background-color: #dddddd;
    color: #000000;
    transition: all 0.75s cubic-bezier(.58,.07,.54,.74) 0s;
}

.nav-menu-hidden {
    right: 100vw;
}

.nav-menu-visible {
    right: 67vw;
}

nav > ul {
    list-style-type: none;
    padding: 1rem;
    margin: 0%;
    font-size: 2.5rem;
}